
$bordr-color-h1: #b0fc00;
$bg-color-h1: #133f2b;
$bg-header: #00000077;
$ancho-h1: fit-content;
$nav-tittle-color: #ffffff;
$items-navbar:  #bed306;
//tamaño de boton
header{
    background-color:$bg-header;
    .h1{
        font-weight: map-get($f-tittles, bold);
        width: $ancho-h1;
        text-align: center;
        color: $bordr-color-h1;
        background-color: $bg-color-h1;
        width: fit-content;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 50px 10px 50px;
        border-style: solid;
        border-width: 2px 0.2px 2px 0.2px;
        border-radius: 15px 40px 15px 80px;
    }
}
.h1__strong{
    font-weight: map-get($f-tittles, medio);
    display: block;
    color: $nav-tittle-color
}
.nav__tittle{
    color: $nav-tittle-color
}
//modificaciones navbar-------------------------------
.nav-li-a{
    @include fonts(otros);
    font-weight: map-get($f-otros, light);
    color: $items-navbar;
}
//items:colores y fuentes


