//main-general-variables-->margenes;
$margin-laterales-main: 2em;
$margin-buttom-top: 2em;
//color de bordes de cajas contenedoras generales
$contaier-general-colorBorder: #818100;
//usuario-form-colorInputs;
$color-inputUser: #818181;
//index-color de texto de bievenida
$texto-bienvenida: aliceblue;
//carousel-color de borde de parrafo;
$carousel-border-parrafo: #ffff009c;
//inndex-background-acordeon;
$bg-acordeon: #111111;
//cosultas-background forms
$bg-contact-form:#252425bd;
//consultas-formulario-background textarea ;
$bg-textarea-consulta: #1d1d1d;
//cosultas-formulario-color textarea
$color-textarea-cosulta: #c8ff00;

//consultas-background opciones(consultas y horarios);
$bg-consulta-color:#eeff00cb;


$bg-textarea-novedad: #1d1d1d;
$bg-consul-input: #505050;
$color-p-novedad: aliceblue;
$bg-mult-text: #0c0c0ce1;
$text-color-h2-user: #ffffff;
$text-color-inputs-form: #ffffff;
$option-color: #000000e7;
$select-color: #ffff00;
$color-textarea: #c8ff00;
$color-barForm-text: #000000;
.main {
  margin-left: $margin-laterales-main;
  margin-right: $margin-laterales-main;
  margin-top: $margin-buttom-top;
  margin-bottom: $margin-buttom-top;
}
.mainIndex {
  @include grid(1fr, 1fr 1fr);
  gap: 1em;
}
//estilo general de cajas contenedoras
@mixin style-mult-text {
  border-radius: 2em;
  border-style: solid;
  border-width: 0.1em;
  background-color: #000000d0;
  border-color: $contaier-general-colorBorder;
}
.welcome__h2 {
  color: $texto-bienvenida;
}
.welcome__p {
  @include style-mult-text;
  padding: 1em;
  color: $texto-bienvenida;

  strong {
    color: yellow;
  }
}
.accordion-body {
  background-color: $bg-acordeon;
  color: $texto-bienvenida;
}
//transparencia de background de contenedores de buttons next y prev de carousel
.carousel-control-prev,
.carousel-control-next {
  background-color: #00000000;
}
//color de background de button next y prev de carousel
[data-bs-target="#carouselExampleIndicators"] {
  width: 10%;
  span {
    background-color: #000000;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2em;
    border-color: yellow;
  }
}
.novedad,
.proyecto {
  //backroud-carousel de novedad.html
  @include style-mult-text;
  //imagen de novedad.html carousel:
  img {
    border-radius: 1em;
    display: inline-block;
    width: 77%;
    margin: 2em 0 0.5em 0;
    margin-left: 11.5%;
    margin-right: 11.5%;
  }
  //parrafo de novedad.html carousel:
  .carusel__p {
    border-bottom: solid $carousel-border-parrafo;
    border-top: solid $carousel-border-parrafo;
    border-width: 0.1em;
    overflow: auto;
    color: $color-p-novedad;
    height: 5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
  }
}

.main__h2Form {
  color: $text-color-h2-user;
  text-align: center;
  margin: 0;
}
.form {
  @include style-mult-text;
  width: 60%;
  margin: 5% auto 5% auto;
  .fieldset {
    @include grid(1fr 1fr 1fr, 1fr);
    gap: 1em;
    .legend {
      border-top-right-radius: 1.3em;
      border-top-left-radius: 1.3em;
      text-align: center;
      background-color: #ebeb00f6;
    }
  }
}
.fieldset__correo,
.fieldset__pasword {
  @include flex(row, space-between, center);
  margin: 0 2em 1em 2em;
  color: $text-color-inputs-form;
  font-weight: map-get($f-otros, light);
  input {
    border-radius: 0.5em;
    width: 60%;
    background-color: $color-inputUser;
  }
  label {
    width: 40%;
  }
}
//modificación de parrafo de proyecto;margenes
//proyectos-carousel-formulario-----------------------------------------------------------------------------------------------------------------
//boton de formularios no visible
.form__button {
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 2em;
  padding: 0 1em;
}
form {
  position: relative;
  bottom: 2.2em;
  margin-bottom: 1em;
  .--carousel {
    width: 90%;
    margin: 0 auto 0 auto;
    .fieldset__div {
      margin-bottom: 1em;
      @include flex(column, center, center);
    }
    .form__button {
      background-color: $select-color;
    }
  }
}

.--opiniones {
  select {
    border-style: none;
    background-color: $select-color;
    border-radius: 1em;
    option {
      background-color: $option-color;
    }
  }
}
.--comentarios {
  textarea {
    color: $color-textarea;
    background-color: $bg-textarea-novedad;
    width: 100%;
    resize: none;
  }
}

//para el formulario de cuenta desactivo el boton
.--botonDisabled {
  display: none;
}

// mainContact-----------------------------------------

//parrafo de bienvenida:
.--Contacto {
  grid-area: contacto;
  @include style-mult-text;
  p {
    color: $texto-bienvenida;
    margin: 2em;
  }
}
//imagen de escudo:
.--contenImage {
  grid-area: imagen;
  .--imagen {
    width: 100%;
  }
}
//formulario-horarios y fechas:
.--contactoForm {
  grid-area: form;
  @include style-mult-text();
}
.section {
  .ul {
    height: 95%;
    padding: 0;
    margin: 1em;
    @include grid(1fr 1.5fr, 1fr);
  }
}
.--notStyleType li {
  list-style-type: none;
}
.ul__li {
  @include grid(1fr 4fr, 1fr);
  grid-template-areas: "enlace" "ul";
  .--enlaceFont {
    height: 2em;
    grid-area: enlace;
    display: block;
    text-align: center;
    border-radius: 0.4rem;
    color: $color-barForm-text;
    background-color: $bg-consulta-color;
  }
  .--ul {
    grid-area: ul;
    //conveniencia
    @include grid(1fr, 1fr);
    padding: 0;
    .--liText{
      margin-top: 1.5em;
    }
  }
}
.--formContact {
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: $bg-contact-form;
  border-radius: 0.4rem;
  fieldset {
    textarea{
      color: $color-textarea-cosulta;
      background-color: $bg-textarea-consulta;
      width: 100%;
      resize: none;
    }
    label {
      width: 50%;
      font-weight: map-get($f-otros, medium);
      color: #c8ff00;
    }
    input {
      width: 50%;
      font-weight: map-get($f-otros, medium);
      background-color: $bg-consul-input;
    }
  }
}
.--formHorario{
  @include grid(2.5fr 2.5fr 0.7fr, 1fr);
  grid-template-areas: "box-1" "box-2" "box-3";
  .--boxOne{
    grid-area: box-1;
  }
  .--boxTwo{
    grid-area: box-2;
  }
  .--forThree{
    grid-area: box-3;
  }
}
.--formConsulta{
  @include grid(2.5fr 0.7fr, 1fr);
  grid-template-areas: "box-1" "box-2";
  .--boxOne{
    grid-area: box-1;
  }
  .--boxTwo{
    grid-area: box-2;
  }
}